
name: Manual Deploy (choice)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        type: choice
        required: true
        options:
          - dev
          - qa
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }} 
    steps:
      - uses: actions/checkout@v4
      - run: echo "Deploying to:" ${{inputs.environment}}
